<form
  [formGroup]="userForm"
  class="flex flex-col gap-8 p-6 md:py-12 md:px-30 2xl:py-20 2xl:px-60"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <label class="md:text-xl xl:text-2xl font-semibold" for="first-name"
      >Nombre Usuario
      <span>
        @if(userForm.controls['first_name'].valid){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="green"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
        <!-- Invalid and dirty first name -->
        @if(!userForm.controls['first_name'].valid &&
        userForm.controls['first_name'].dirty){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="red"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
      </span>
    </label>
    <input
      class="w-full p-2 rounded-md border border-gray-200 focus:outline-none focus:border-blue-500 focus:shadow"
      type="text"
      name="first-name"
      id="first-name"
      formControlName="first_name"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label class="md:text-xl xl:text-2xl font-semibold" for="last-name"
      >Apellido Usuario
      <span>
        @if(userForm.controls['last_name'].valid){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="green"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
        <!-- Invalid and dirty last name -->
        @if(!userForm.controls['last_name'].valid &&
        userForm.controls['last_name'].dirty){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="red"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
      </span>
    </label>
    <input
      class="w-full p-2 rounded-md border border-gray-200 focus:outline-none focus:border-blue-500 focus:shadow"
      type="text"
      name="last-name"
      id="last-name"
      formControlName="last_name"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label class="md:text-xl xl:text-2xl font-semibold" for="email"
      >Email Usuario
      <span>
        @if(userForm.controls['email'].valid){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="green"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
        <!-- Invalid and dirty email-->
        @if(!userForm.controls['email'].valid &&
        userForm.controls['email'].dirty){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="red"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
      </span>
    </label>
    <input
      class="w-full p-2 rounded-md border border-gray-200 focus:outline-none focus:border-blue-500 focus:shadow"
      type="mail"
      name="email"
      id="email"
      formControlName="email"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label class="md:text-xl xl:text-2xl font-semibold" for="imagen"
      >Imagen Usuario
      <span>
        @if(userForm.controls['image'].valid){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="green"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
        <!-- Invalid and dirty image -->
        @if(!userForm.controls['image'].valid &&
        userForm.controls['image'].dirty){
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="red"
          class="size-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        }
      </span>
    </label>
    <input
      class="w-full p-2 rounded-md border border-gray-200 focus:outline-none focus:border-blue-500 focus:shadow"
      type="string"
      name="image"
      id="image"
      formControlName="image"
    />
  </div>
  <input
    class="w-full md:w-36 p-2 mt-8 rounded-md border bg-green-500 text-white font-semibold hover:bg-green-300 hover:text-black cursor-pointer disabled:cursor-not-allowed"
    type="submit"
    value="Enviar"
    [disabled]="!userForm.valid"
    [class.opacity-20]="!userForm.valid"
    [class.hover:bg-green-500]="!userForm.valid"
    [class.hover:text-white]="!userForm.valid"
  />
</form>
