<section class="mt-44 md:mt-32 container mx-auto p-4">
  <article
    class="p-3 md:p-20 bg-green-50 rounded-xl border border-gray-300 flex flex-col xl:flex-row items-center transition-all ease-in-out duration-300"
  >
    <div
      id="user__figure__container"
      class="flex justify-center xl:border-r xl:border-r-gray-400"
    >
      <figure
        class="w-5/6 rounded-full overflow-clip border-[10px] border-[rgba(98,231,93,0.5)]"
      >
        <img class="w-full" [src]="user.image" />
      </figure>
    </div>
    <div id="user__data__container" class="flex flex-col p-6 2xl:p-20 w-full">
      <div class="max-w-full md:py-6">
        <h2
          class="font-semibold text-2xl md:text-4xl 2xl:text-6xl mb-2 md:mb-6"
        >
          {{ user.first_name }}
        </h2>
        <h2
          class="font-semibold text-2xl md:text-4xl 2xl:text-6xl mb-2 md:mb-6"
        >
          {{ user.last_name }}
        </h2>
      </div>
      <div class="max-w-full md:py-6 flex flex-col gap-3 md:gap-6">
        <p
          class="text-lg md:text-3xl w-full text-right whitespace-nowrap truncate"
        >
          <span class="font-semibold float-left"> Nombre usuario:</span>
          {{ user.username }}
        </p>
        <p
          class="text-lg md:text-3xl w-full text-right whitespace-nowrap truncate"
        >
          <span class="font-semibold float-left">Email:</span>
          <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </p>
      </div>
      <div class="flex justify-center pt-4 md:pt-20">
        <ul class="flex gap-4 text-gray-500 w-96 justify-center">
          <li class="w-1/5 md:w-1/3">
            <button
              title="Volver atras"
              class="w-full hover:opacity-30 transition-opacity ease-in-out duration-300"
            >
              <a [routerLink]="['/home']">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="currentColor"
                  class="size-5/6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
                  />
                </svg>
              </a>
            </button>
          </li>
          <li class="w-1/5 md:w-1/3">
            <button
              title="Editar usuario"
              class="w-full hover:opacity-30 transition-opacity ease-in-out duration-300"
            >
              <a [routerLink]="['/updateuser', user._id]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="currentColor"
                  class="size-5/6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                  />
                </svg>
              </a>
            </button>
          </li>
          <li class="w-1/5 md:w-1/3">
            <button
              title="Eliminar Usuario"
              class="w-full hover:opacity-30 transition-opacity ease-in-out duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                class="size-5/6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
